

figure{
    margin: 0;
    }
.logo img{
  width: 140px;
}
.nombre{
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  background-color: #000000;
  color: white;
}
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8tuva1');
  src:  url('fonts/icomoon.eot?8tuva1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8tuva1') format('truetype'),
    url('fonts/icomoon.woff?8tuva1') format('woff'),
    url('fonts/icomoon.svg?8tuva1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-decoration: none !important;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp:before {
  content: "\e904";
  color: #77e879;
  font-size: 2em;
}
.icon-linkedin:before {
  content: "\e902";
  /* color: #2773B0; */
}
.icon-facebook1:before {
  content: "\e903";
  /* color: #4267B2; */

}
.icon-youtube:before {
  content: "\e900";
  /* color: red; */
}
.icon-instagram:before {
  content: "\e901";
  /* color: #D84385; */
}

#salto {
  position: relative;
}
  #salto .overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }

  #salto .overlay .container,
  #salto .overlay .row {
    height: 100%;
  }
  #footer{
    background-color: #f8f9fa;
  }
  .puntos{
    list-style-image: url("assets/images/logocv2.jpg");
  }
.letra{
font-family: 'Open Sans', sans-serif;
}
.text-cv{
  color: #007bff !important;
}
.letra h1{
font-family: 'Open Sans', sans-serif;
margin-bottom: -10px;
}
.parrafo{
  padding-top: -20px;
}
.leyenda{
  font-family: 'Open Sans', sans-serif;
  font-size: 4em;
  color: white;
}
.leyenda2{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: white;
}

.descripcion{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  padding-right: 200px;
}
.imagen{
  margin-left: -10px;
}


.iconos{
  font-size: 30px;
}
.fondo{
  position: relative;
  background: #0f9bf6;
  border: 1px solid #054477;
  display: grid;
  grid-row: auto;
}
.card-text{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-style: bold;
}
.event-list-title{
  margin-left: 20px;
}
.event-details{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
  }
  .btn-platzi{
    background-color: #007bff;
    color: white;
  }
  .btn-platzi:hover{
    background-color: #0065ff;
    color: white;
  }
  .espaciado{
    margin-bottom: auto;
  }
  .tamanitos{
    font-size: 0.7em;
  }
